
<Files ".htaccess">
	deny from all
</Files>


Options  -Indexes +FollowSymlinks


#################
#  error point  #
#################

RewriteEngine  On
RewriteBase  /core/error-point

# hide CORE structure
RewriteCond  %{ENV:REDIRECT_STATUS}  ^$  [NC]
RewriteRule  ^(.*)$  /403.html?path=$1  [L,QSA]

# unallowed error points
RewriteCond  %{SCRIPT_FILENAME}  !-f
RewriteRule  ^(.*)$  /403.html?path=$1  [L,QSA]


# allowed error points (redirect already done in "unallowed error points")
#RewriteRule  ^403[\.]php(?:[\?].*)?$                     -  [L,QSA]
#RewriteRule  ^404[\.]php(?:[\?].*)?$                     -  [L,QSA]
#RewriteRule  ^500[\.]php(?:[\?].*)?$                     -  [L,QSA]
#RewriteRule  ^browser[\-]error[\.]php(?:[\?].*)?$        -  [L,QSA]
