<Files ".htaccess">
	deny from all
</Files>


#DirectoryIndex  index.php index.html index.htm index.shtml index.shtm
Options  +Indexes
Options  +FollowSymlinks


#ErrorDocument  403  403.php
#ErrorDocument  404  404.php
#ErrorDocument  500  500.php


############################
# включаем перенаправления #
############################
RewriteEngine  on
RewriteBase  /
#RewriteOptions  MaxRedirects=2  # непроверено!!!


##############
# no cycling #
##############
RewriteRule  ^core/enter-point
RewriteRule  ^((?:ajax|css|html|js|resource)[\.]php)(?:[\?]|$)  /core/enter-point/$1  [L,QSA]
RewriteRule  ^([\d]{3}[\.]php)(?:[\?]|$)                        /core/error-point/$1  [L,QSA]

RewriteCond  %{IS_SUBREQ}  !^(false)$  [NC]
RewriteRule  ^.*$  -  [L]


######################################################
# request -> rules: resource [ & resourceExtension ] #
######################################################

# dummy request by default
RewriteCond  %{ENV:resource}  ^$
RewriteRule  ^.*$  -  [ENV=resource:none,ENV=!resourceExtension]

## по расширению
#RewriteRule  [\.](cashe)[\.](css)([\?]|$)  -  [ENV=zType:cashe,ENV=zClass:css]
#RewriteRule  [\.](cashe)[\.](js)([\?]|$)   -  [ENV=zType:cashe,ENV=zClass:javascript]
#
RewriteRule  [\.](bmp)([\?]|$)    -  [ENV=resource:static-image,ENV=resourceExtension:bmp]
RewriteRule  [\.](gif)([\?]|$)    -  [ENV=resource:static-image,ENV=resourceExtension:gif]
RewriteRule  [\.](jpe?g)([\?]|$)  -  [ENV=resource:static-image,ENV=resourceExtension:jpeg]
RewriteRule  [\.](png)([\?]|$)    -  [ENV=resource:static-image,ENV=resourceExtension:png]
RewriteRule  [\.](tif)([\?]|$)    -  [ENV=resource:static-image,ENV=resourceExtension:tif]
#
RewriteRule  [\.](txt)([\?]|$)    -  [ENV=resource:static-text,ENV=resourceExtension:txt]
#
RewriteRule  ^([\?]|$)            -  [ENV=resource:dynamic-html,ENV=resourceExtension:html]
RewriteRule  [\.](do)([\?]|$)     -  [ENV=resource:dynamic-html,ENV=resourceExtension:html]
RewriteRule  [\.](php)([\?]|$)    -  [ENV=resource:dynamic-html,ENV=resourceExtension:html]
RewriteRule  [\.](html?)([\?]|$)  -  [ENV=resource:dynamic-html,ENV=resourceExtension:html]
#
RewriteRule  [\.](ajax)([\?]|$)   -  [ENV=resource:dynamic-ajax,ENV=resourceExtension:ajax]
#
RewriteRule  [\.](res)([\?]|$)    -  [ENV=resource:dynamic-resource,ENV=resourceExtension:res]
#
RewriteRule  [\.](css)([\?]|$)    -  [ENV=resource:dynamic-css,ENV=resourceExtension:css]
RewriteRule  [\.](js)([\?]|$)     -  [ENV=resource:dynamic-javascript,resourceExtension=zClass:javascript]
#
RewriteRule  [\.](json)([\?]|$)   -  [ENV=resource:dynamic-json,ENV=resourceExtension:json]
RewriteRule  [\.](xml)([\?]|$)    -  [ENV=resource:dynamic-xml,ENV=resourceExtension:xml]
## по местоположению
RewriteRule  ^templates/http-XXX.html$  -  [ENV=resource:static]  # пример исключение!!!
#
RewriteCond  %{ENV:zType}  !^(static)$
RewriteRule  ^templates([\/]|$)  404.php  [L]
## который еще неопознан
#RewriteCond  %{ENV:zClass}  ^$  [OR]
#RewriteCond  %{ENV:zType}  ^$
#RewriteRule  [\.]([\w]+)([\?]|$)  -  [ENV=zType:unknown,ENV=!zClass,ENV=!zIs]
#
RewriteCond  %{ENV:zType}  ^$
RewriteRule  ^.*$  -  [ENV=zType:unknown-dir,ENV=!zClass,ENV=!zIs]


###############################
# ENTER-POINT: static content #
###############################
RewriteCond  %{ENV:zType}  ^(static)$
RewriteCond  %{SCRIPT_FILENAME}  !-f
RewriteRule  ^(.*)$  404.php  [L]

RewriteCond  %{ENV:zType}  ^(static)$
RewriteCond  %{SCRIPT_FILENAME}  -f
RewriteRule  ^(.*)$  -  [L]


#####################################
# ТОЧКА ВХОДА: динамический контент #
#####################################
RewriteCond  %{ENV:zType}  ^(dynamic)$
RewriteCond  %{ENV:zClass}  ^(ajax)$
RewriteRule  ^.*$  ajax.php  [L,QSA]

RewriteCond  %{ENV:zType}  ^(dynamic)$
RewriteCond  %{ENV:zClass}  ^(css)$
RewriteRule  ^.*$  css.php  [L,QSA]

RewriteCond  %{ENV:zType}  ^(dynamic)$
RewriteCond  %{ENV:zClass}  ^(html)$
RewriteRule  ^.*$  html.php  [L,QSA]

RewriteCond  %{ENV:zType}  ^(dynamic)$
RewriteCond  %{ENV:zClass}  ^(javascript)$
RewriteRule  ^.*$  js.php  [L,QSA]

RewriteCond  %{ENV:zType}  ^(dynamic)$
RewriteCond  %{ENV:zClass}  ^(resource)$
RewriteRule  ^.*$  resource.php  [L,QSA]


#####################################
# ТОЧКА ВХОДА: неопознаного контент #
#####################################
RewriteCond  %{ENV:zType}  ^(unknown|unknown-dir)$
RewriteRule  ^.*$  html.php  [L,QSA]


RewriteRule  ^.*$  404.php  [L,QSA]












<Files ".htaccess">
	deny from all
</Files>


Options  -Indexes  +FollowSymlinks


#################
#  mod_rewrire  #
#################
RewriteEngine  On
RewriteBase  /

# error points
RewriteRule  ^([\d]{3})[\.]html(?:[\?].*)?$  core/error-point/$1.php  [L,QSA]

# root point
RewriteRule  ^(?:[\?].*)?$  core/enter-point/browser-check.php  [L,QSA]

# enter points
RewriteRule  ^(ajax|css|html|js|resource|wap)[\/](.*)(?:[\?].*)?$  core/enter-point/$1.php?path=$2  [L,QSA]

# data point
RewriteRule  ^(.*[\/])(?:[\?].*)?$  /html/$1index.html  [L,QSA]
RewriteRule  ^((?:[^\/]*[\/])[^\/\.]*)(?:[\?].*)?$  /html/$1/index.html  [L,QSA]

RewriteRule  ^(.*[\.]ajax)(?:[\?].*)?$  /ajax/$1  [L,QSA]
RewriteRule  ^(.*[\.]css)(?:[\?].*)?$  /css/$1  [L,QSA]
RewriteRule  ^(.*[\.]html)(?:[\?].*)?$  /html/$1  [L,QSA]
RewriteRule  ^(.*[\.]js)(?:[\?].*)?$  /js/$1  [L,QSA]

RewriteRule  ^(.*[\.]html)(?:[\?].*)?$  /html/$1  [L,QSA]
RewriteRule  ^(.*[\/])(?:[\?].*)?$  /html/$1index.html  [L,QSA]
RewriteRule  ^((?:[^\/]*[\/])[^\/\.]*)(?:[\?].*)?$  /html/$1/index.html  [L,QSA]

# unknown points
RewriteRule  ^(.*)$  /403.html?path=$1  [L]



