
<Files ".htaccess">
	deny from all
</Files>


Options  -Indexes +FollowSymlinks


###########
#  /core  #
###########

RewriteEngine  On
RewriteBase  /core

# hide CORE structure
RewriteCond  %{ENV:REDIRECT_STATUS}  ^$  [NC]
RewriteRule  ^(.*)$  /403.html?path=$1  [L,QSA]

# unallowed /core
RewriteRule  ^(.*)$  /403.html?path=$1  [L,QSA]


# unallowed /core
#RewriteCond  %{SCRIPT_FILENAME}  !-f
#RewriteRule  ^(.*)$  /403.html?path=$1  [L,QSA]
