
<Files ".htaccess">
	deny from all
</Files>


Options  -Indexes +FollowSymlinks


#########################
#  enter & error point  #
#########################

RewriteEngine  On
RewriteBase  /core/enter-point

# hide CORE structure
RewriteCond  %{ENV:REDIRECT_STATUS}  ^$  [NC]
RewriteRule  ^(.*)$  /403.html?path=$1  [L,QSA]

# unallowed enter points
RewriteCond  %{SCRIPT_FILENAME}  !-f
RewriteRule  ^(.*)$  /403.html?path=$1  [L,QSA]


# allowed enter points (redirect already done in "unallowed enter points")
#RewriteRule  ^ajax[\.]php(?:[\?].*)?$                   -  [L,QSA]
#RewriteRule  ^browser[\-]check[\.]php(?:[\?].*)?$       -  [L,QSA]
#RewriteRule  ^css[\.]php(?:[\?].*)?$                    -  [L,QSA]
#RewriteRule  ^html[\.]php(?:[\?].*)?$                   -  [L,QSA]
#RewriteRule  ^js[\.]php(?:[\?].*)?$                     -  [L,QSA]
#RewriteRule  ^resource[\.]php(?:[\?].*)?$               -  [L,QSA]
#RewriteRule  ^wap[\.]php(?:[\?].*)?$                    -  [L,QSA]
